body{
      font-family: 'Proxima Nova', Georgia, sans-serif;
    }

.navbar {
      font-family: 'Proxima Nova', Georgia, sans-serif;
      #margin-bottom: 0;
      height: 100px;
      border: 0.1px solid black;
      border-bottom: 0.3px lightgray solid;
      box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.1);
      position:fixed;
      top:0;
      right:0;
      left:0;
      z-index: 999;
      #overflow: hidden;
      background-color: white;
      transition: top 1s ease-in-out;
}

.nav-up{

  top: -100px;

}

.sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
   }
    

.main{

  padding-left: 10%;
  padding-right: 10%;
}

.brand-logo{
      height: 32px;
      width: 120px;
    }
   

.dropdown{
  padding: 0;
}

.dropdown a:hover{

  background-color: white;
}


.dropdown-toggle{
  color:black;
  font-size: 11px;
  margin-left:-6px;
  margin-top: 25px;
  background-color: white;
  z-index: 1;
  padding:0 !important;
}


.dropdown-toggle:hover{
  background-color: white !important;
}



.dropdown-content {
  #margin-top: -6px;
  margin-left: -8px;
  color:black;
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 4px;
  font-size: 15px;
  list-style:none;
  border:0.7px lightgray solid;
  padding:0;
}

.dropdown-content li{

  
  border: 0.5px #efefef solid;
  width: 100%;
  display: block;
  margin:0 ;
  padding: 5px 0px;
  border-radius: 4px;

}


.dropdown:hover .dropdown-content {
  display: block;

}

.dropdown-content li a {

  color: black;
  padding: 3px 19px;
  text-decoration: none;
  display: block;
  text-align: left;
}


.dropdown-content a:hover {

  background-color: #f4f5f7;
  color:#2ccebf;

}


.green-text {

  color:#2ccebf;

}


.rightpart li a:hover{

  color:#2ccebf !important;
  background-color: white;
}

.bottom li a{
  padding-right: 50px;
  font-family: 'proxima_nova_altbold', Georgia, sans-serif;
  color:#525254;
}

.bottom li a:hover{

  background-color: white;
  color:#2ccebf !important;
}


.bottom li{

  font-size: 16px;
  

}


.dropdown-contentv2 {
  color:black;
  display: none;
  position: absolute;
  background-color: white;
  #min-width: 200px ;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 99;
  border-radius: 8px;
  font-size: 12px;
  list-style:none;
  #border:1px solid gray;
  padding:0;
  margin-top: -12px;
  white-space: nowrap;
}

.shiftright{
  margin-left: 14px;
}

.dropdown-contentv2 li{

  
  border: 0.5px #f8f8f8 solid;
  width: 100%;
  display: block;
  margin:0 !important;
  padding: 5px 60px 5px 10px;
  border-radius: 8px;

}


.dropdown:hover .dropdown-contentv2 {
  display: block;

}

.dropdown-contentv2 li a {

  font-family: 'Proxima Nova', Georgia, sans-serif; 
  color: black;
  padding: 3px 2px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 14px;
}


.dropdown-content a:hover {

  background-color: #f4f5f7;
  color:#2ccebf;

}


.main-content{

  margin-top: 125px;
  padding-right: 8%;


}


#rightsidebar{




}


.post-container {

  padding-left: 30px;

 
}

.post-container h2{

   font-family: 'proxima_nova_altbold', Georgia, sans-serif;

}



.img-post-container{

  font-family: "open-sans",sans-serif;
  padding:6px 8px 6px 15px;
  text-align: left;

}




.img-container{

  width: 100%;
  height:100%;
  object-fit: contain;
  border-radius: 5px;
}

.trending-tag p{

    padding: 5px ;
    font-family: "open-sans",sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 2.11;
    letter-spacing: .4px;
    text-align: left;
    color: #ff8080;
    display: inline;
    position: relative;


}

.trending-img{

    display: inline;
}

.author-image {

  display: inline-block;
  vertical-align: text-bottom;
}

.post-details .post-details-ext{

display: inline-block;
padding-left: 10px;
font-family: "Helvetica";
font-weight: 100;
font-size: 12px;
vertical-align: super;
}


.post-details img{

  width: 40px;
  height:40px;
  display: inline;

}

.post-details p{

  display: inline;

} 

.post-details h7{

  display: block;
  font-family: 'Open Sans', sans-serif; 
  font-size: 12px;
  letter-spacing: .1px;
}

.topic-category{

  margin-top: 14px;

}



.topic-category p{

  display:inline-block;

}

#category{

  display: inline;
  color:#4a90e2;
  font-weight: 700;
  letter-spacing: 0.4px

}

#fbshare{
  display: block;
  border-radius: 2.5px;
  padding: 10px 10px 10px 25px;
  background-color: #39579a;
  max-width:150px;
 #   margin-left: 15px;
 height:41px;

}


#fbshare a{
  font-size: 14px;
      color: #fff;
  margin-left: -2px;
  margin-bottom: 2px;    
  text-decoration: none;
}

#fbshare img{

  margin-bottom: 4px;
  height: 23px;
  width:23px;

}

#answers_partials_container{

  margin-top: 15px;
  font-family: "Arial Regular",sans-serif;
      font-size: 16px;
      font-weight: 400;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.76;
      text-align: justify;
      color: #4a4a4a;
      padding-left: 15px;
      padding-right: 15px;
      word-wrap: break-word;

}

#share_on_fb_bottom{

  background-color: #39579a;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
    margin-left: 10px;
    color: white;

}

#share_on_fb_bottom a{

      color: #fff;
      font-size: 17px;
      text-decoration: none;
}

#download_app_container{

      background-color: #f8e71c;
      padding: 20px 35px 20px 20px;
      max-width: 585px;
      margin-left: 10px;
      margin-top: 20px;
      margin-bottom: 40px;
      border-radius: 5px;
  }



#download_app_content{

  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 800;
  letter-spacing: .4px;
  text-align: left;
  color: #286174;

}



#download_app_links img {
    display: inline-block;
    height: 40px;
}

.rating_header{
    color: #000;
    font-size: 20px;
    font-family: "Open Sans";
    margin: 20px 0 0 20px;

}

.blog_rating_container{
  margin: 35px 20px 150px 0;

}

.percent_container {
    position: absolute;
    min-width: 30px;
    top: 0;
    right: 5px;
    z-index: 1;
    color: #fff;
    font-size: 10px;
    font-family: "Open Sans";
    border-radius: 40px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #50e3c2;
}

.rating_img {
    position: absolute;
    top: 20px;
    right: 25px;
    bottom: 0;
    width: 75px;
    height: 75px;
    transition: width .5s,height .5s;
}

.rating_img:hover{

  height:90px;
  width: 90px;


}



.rating_btn_container .bottom_text {
    position: absolute;
    left: 20px;
    right: 0;
    bottom: -125px;
    font-size: 14px;
    color: #000;
    font-family: "Open Sans";
}
