body{
      font-family: 'Proxima Nova', Georgia, sans-serif;
    }

.navbar {
      font-family: 'Proxima Nova', Georgia, sans-serif;
      margin-bottom: 0;
      height: 100%;
      border: 0;
      border-bottom: 0.3px lightgray solid;
      box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.1);
      position:relative;
}

.sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
   }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

.main{

  padding-left: 10%;
  padding-right: 10%;
}

.brand-logo{
      height: 32px;
      width: 120px;
    }
   

.dropdown{
  padding: 0;
}

.dropdown a:hover{

  background-color: white;
}


.dropdown-toggle{
  color:black;
  font-size: 11px;
  margin-left:-6px;
  margin-top: 25px;
  background-color: white;
  z-index: 1;
  padding:0 !important;
}


.dropdown-toggle:hover{
  background-color: white !important;
}



.dropdown-content {
  #margin-top: -6px;
  margin-left: -8px;
  color:black;
  display: none;
  position: absolute;
  background-color: white;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 4px;
  font-size: 15px;
  list-style:none;
  border:0.7px lightgray solid;
  padding:0;
}

.dropdown-content li{

  
  border: 0.5px #efefef solid;
  width: 100%;
  display: block;
  margin:0 ;
  padding: 5px 0px;
  border-radius: 4px;

}


.dropdown:hover .dropdown-content {
  display: block;

}

.dropdown-content li a {

  color: black;
  padding: 3px 19px;
  text-decoration: none;
  display: block;
  text-align: left;
}


.dropdown-content a:hover {

  background-color: #f4f5f7;
  color:#2ccebf;

}


.green-text {

  color:#2ccebf;

}


.rightpart li a:hover{

  color:#2ccebf !important;
  background-color: white;
}

.bottom li a{

  font-family: 'proxima_nova_altbold', Georgia, sans-serif;
  color:#525254;
}

.bottom li a:hover{

  background-color: white;
  color:#2ccebf !important;
}


.bottom li{

  font-size: 16px;
  

}


.dropdown-contentv2 {
  color:black;
  display: none;
  position: absolute;
  background-color: white;
  min-width: 220px ;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 99;
  border-radius: 8px;
  font-size: 12px;
  list-style:none;
  #border:1px solid gray;
  padding:0;
  margin-top: -12px;
}

.dropdown-contentv2 li{

  
  border: 0.5px #f8f8f8 solid;
  width: 100%;
  display: block;
  margin:0 !important;
  padding: 5px 0px;
  border-radius: 8px;

}


.dropdown:hover .dropdown-contentv2 {
  display: block;

}

.dropdown-contentv2 li a {

  font-family: 'Proxima Nova', Georgia, sans-serif; 
  color: black;
  padding: 3px 2px;
  text-decoration: none;
  display: block;
  text-align: left;
  margin-left: 10px;
  font-size: 14px;
}


.dropdown-content a:hover {

  background-color: #f4f5f7;
  color:#2ccebf;

}


.main-content{

  margin-top: 25px;
  padding-right: 8%;


}


#rightsidebar{




}


.post-container {

  padding-left: 30px;
 
}

.post-container h2{

   font-family: 'proxima_nova_altbold', Georgia, sans-serif;

}



.img-post-container{

  font-family: "open-sans",sans-serif;
  padding:6px 8px 6px 15px;
  text-align: left;

}




.img-container{

  width: 100%;
  height:100%;
  object-fit: contain;
  border-radius: 5px;
}

.trending-tag p{

    padding: 5px ;
    font-family: "open-sans",sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 2.11;
    letter-spacing: .4px;
    text-align: left;
    color: #ff8080;
    display: inline;
    position: relative;


}

.trending-img{

    display: inline;
}

.author-image {

  display: inline-block;
  vertical-align: text-bottom;
}

.post-details .post-details-ext{

display: inline-block;
padding-left: 10px;
font-family: "Helvetica";
font-weight: 100;
font-size: 12px;
vertical-align: super;
}


.post-details img{

  width: 40px;
  height:40px;
  display: inline;

}

.post-details p{

  display: inline;

} 

.post-details h7{

  display: block;
  font-family: 'Open Sans', sans-serif; 
  font-size: 12px;
  letter-spacing: .1px;
}

.topic-category{

  margin-top: 14px;

}



.topic-category p{

  display:inline-block;

}

#category{

  display: inline;
  color:#4a90e2;
  font-weight: 700;
  letter-spacing: 0.4px

}

#fbshare{
  display: block;
  border-radius: 2.5px;
  padding: 10px 10px 10px 25px;
  background-color: #39579a;
  max-width:150px;
 #   margin-left: 15px;
 height:41px;

}


#fbshare a{
  font-size: 14px;
      color: #fff;
  margin-left: -2px;
  margin-bottom: 2px;    
  text-decoration: none;
}

#fbshare img{

  margin-bottom: 3px;
  height: 23px;
  width:23px;

}

#answers_partials_container{

  margin-top: 15px;
  font-family: "Arial Regular",sans-serif;
      font-size: 16px;
      font-weight: 400;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.76;
      text-align: justify;
      color: #4a4a4a;
      padding-left: 15px;
      padding-right: 15px;
      word-wrap: break-word;

}

#share_on_fb_bottom{

  background-color: #39579a;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
    margin-left: 30px;
}